// IMPORT

@import "slick.scss";
@import "slick-theme.scss";
// @import "hamburgers.css";
// @import "../libs/mmenu/css/jquery.mmenu.all.css";
// @import "jquery.mmenu.all.css";

// FONTS


@font-face {
	font-family: 'Proxima Nova Extrabold';
	src: url('../fonts/proxima_nova_extrabold.woff2') format('woff2'),
		 url('../fonts/proxima_nova_extrabold.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('../fonts/proxima_nova_semibold.woff2') format('woff2'),
		 url('../fonts/proxima_nova_semibold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('../fonts/proxima_nova_regular.woff2') format('woff2'),
		 url('../fonts/proxima_nova_regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

// MIXIN - start

$accent: #ac378e;
$light: #6b7175;
$dark: #111619;
$orange: #ed751b;
$aerrow: #595c5f;
$blue: #5e00ca;


// MEDIA - start
@for $i from 1 through 12 {
  .col-#{$i} { width: 8.3333% * $i; }
}

// контейнер по умолчанию. Отступ между колонками
$container: 1720px;
$colGups: 15px;

// размер текста
$textFont-size: 1rem;  // 16px
$linkColor: blue;

// контрольные точки, на которых наш макет будет перестраиваться (могут меняться зависимости от дизайна)
$breakpoints: (
	xs: 0,
	sm: 575px,
	md: 768px,
	lg: 1025px,
	xl: 1200px,
	xxl: 1440px
);

// количество колонок
$columns: 12;

// проходимся циклом по всем контрольным точкам
@each $breakpoint in $breakpoints {

	// в name записываем имя размера (xs, sm, md ...)
	// в size записываем кол-во колонок, которые должен занимать элемент с эти классом.
		$name: nth($breakpoint, 1);
		$size: nth($breakpoint, 2);
	  
	// генерируем медиа запрос для ширины брейкпоинта, который сейчас является текущим в цикле.
	@media only screen and (min-width: $size) {
		[class*="col-#{$name}"] {
			box-sizing: border-box;
			flex: 0 0 auto;
			padding-right: $colGups;
			padding-left: $colGups;
		}
		@for $i from 1 through $columns {
			.col-#{$name}-#{$i} {
				flex-basis: 100% / $columns * $i;
				max-width: 100% / $columns * $i;
			}
		}
		@for $i from 1 through $columns {
			.col-#{$name}-offset-#{$i} {
				margin-left: 100% / $columns * $i
			}
		}
	}
}
// MEDIA - end


@mixin title() {
	font-family: 'Playfair Display', Arial, serif;
	font-size: 70px;
	color: #FFF;
	font-weight: 400;
}
// &__title {
// 	@include title();
// }

@mixin title-small() {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	letter-spacing: 0.6em;
	text-transform: uppercase;
}

// &__title-small {
// 	@include title-small();
// }

@mixin text() {
	font-family: 'Lato', Arial, serif;
	font-size: 22px;
	font-weight: 300;
}

// &__text {
// 	@include text();
// }

@mixin opacity($opacity){
	opacity: $opacity / 100;
	filter: alpha(opacity=$opacity);
}

// MIXIN - end


// BASE STYLE - start

body{
	background-color: $dark;
	font-size: 16px;
}

*{
	box-sizing: border-box;
}
ul, li{
	list-style: none;
	text-decoration: none;
	padding: 0;
}
a{
	text-decoration: none;
	outline-style: none;
}

.container{
	max-width: 1730px;
	padding: 0 35px;
	margin: 0 auto;
	text-align: center;
}

.visually-hidden{
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.btn {
	height: 55px;
	color: #ffffff;
	outline-style: none;
	font-family: 'proxima_novaextrabold', Arial, serif;
	font-size: 14px;
	letter-spacing: 0.2em;
	line-height: 55px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	padding: 0 45px;
	position: relative;
	overflow: hidden;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: linear-gradient(120deg, transparent, rgba(255,255,255,.3), transparent);
		transition: left 0.5s ease;
	}
	&:hover:after{
		left: 100%;
	}

}
// BASE STYLE - end



// HEADER - start
header{
	height: 150px;
	position: absolute;
	z-index: 550;
}

.head{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: nowrap;
	padding: 50px 60px;
	&-info{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: nowrap;
	}
	&-phone{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-left: 90px;
		& a{
			font-family: 'Playfair Display', serif;
			font-size: 16px;
			font-weight: 400;
			color: $light;
			margin-left: 15px;
			letter-spacing: 0.2em;
		}
	}
	&-nav{
		position: absolute;
		right: 130px;
	}
	&-soc{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		z-index: 10;
		&-list{
			margin: 0;
		}
		&__item{
			height: 60px;
			width: 60px;
			margin-bottom: 40px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

// HEADER - end



// NAV - start
.nav-menu{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	z-index: 550;
	&__item{
		& a{
			font-family: 'Lato', Arial, serif;
			font-size: 15px;
			font-weight: 700;
			color: $light;
			margin: 0 32px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			transition: background .5s ease;
			&:hover{
				background: linear-gradient(to left, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}
// NAV - end



// HERO - start
.hero{
	height: 100vh;
	&-wrap{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	&__img{
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		& img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		&-title{
			@include title();
			margin-top: 55px;
			font-size: 1rem;
			text-transform: uppercase;
			color: $light;
			letter-spacing: .3rem;
		}
	}
	&__title{
		font-family: 'Playfair Display', Arial, serif;
		font-size: 28px;
		font-weight: 400;
		color: #48555d;
		letter-spacing: 1.6em;
		text-transform: uppercase;
		margin: 30px 0 60px;
	}
	&-slider{
		width: 100%;
		margin: 180px 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		& .slick-list{
			margin: 0;
		}
		& .slick-dots button{
			background: rgba(255, 255, 255, .5);
		}
		& .slick-next{
			width: 105px;
			height: 105px;
			&:before{
				display: none;
			}
		}
		&-box{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			text-align: center;
			outline-style: none;
			& img{
				margin: 0 auto;
			}
		}
	}
	&-btn-wrap{
		width: 100%;
		height: auto;
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

	}
	&__dots{
		text-align: center;
		& span{
			display: inline-block;
			background-color: $orange;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			margin: 40px 12px 100px;
			position: relative;
			&:first-child:after{
				content: '';
				display: inline-block;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				border: 1px solid $orange;
			}
		}
	}
}

.slick{
	&-track{
		width: 100%;	
	}
	&-btn-prev,
	&-btn-next{
		display: block;
		height: 105px;
		width: 105px;
		cursor: pointer;
		background: lighten($dark, 1%);
		color: transparent;
		padding: 0;
		outline: none;
		border: none;
		border-radius: 50%;
		position: relative;
		transition: background .5s ease;
		&:hover, &:focus {
			outline: none;
			background: lighten($dark, 4%);
		}
	}
	&-btn-circle{
		width: 105px;
		height: 105px;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.slick-btn-prev{
	left:  20px;
}
.slick-btn-next{
	right: 60px;
}

// HERO - end



// ABOUT - start
.about{
	&__btn{
		width: 130px;
		height: 130px;
		border-radius: 50%;
		background: {
			image: url(../img/about-btn-bg.png);
			repeat: no-repeat;
			position: center;
			size: cover;
		};
		outline: none;
		border: 2px solid #6c2552;
		animation-name: box-shadow;
		animation-duration: 2.7s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		margin: 100px 0;
		position: relative;
		&:after{
			content: '';
			width: 160px;
			height: 160px;
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			box-shadow: inset 0 0 7px 7px rgba(165, 54, 137, .8);
		}
	}
	&__title{
		@include title();
		margin: 100px 100px 80px;
	}
	&__img{
		height: 130px;
		width: 400px;
		// & img{
		// 	width: 100%;
		// 	height: 100%;
		// 	object-fit: cover;
		// 	object-position: center;
		// }
		
	}
}
@keyframes box-shadow {
	0% {
		box-shadow: 	0 0 0 17px rgba(165, 54, 137, .55),
						0 0 0 34px rgba(165, 54, 137, .1);
	}
	50% {
		box-shadow: 	0 0 0 10px rgba(165, 54, 137, .6),
						0 0 0 20px rgba(165, 54, 137, .5),
						0 0 0 30px rgba(165, 54, 137, .4),
						0 0 0 40px rgba(165, 54, 137, .3),
						0 0 0 50px rgba(165, 54, 137, .2),
						0 0 0 60px rgba(165, 54, 137, .1);
	}
	100% {
		box-shadow: 	0 0 0 17px rgba(165, 54, 137, .55),
						0 0 0 34px rgba(165, 54, 137, .1);
	}
	
	
}

// ABOUT - end



// PRODUCT - start
.product{
	margin-bottom: 280px;
	background: {
		image: url(../img/product-dotted-bg.png);
		position: top center;
		repeat: no-repeat;
		size: 100% auto;
		};
	&-card{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 80px 0;
		position: relative;
		margin: 170px auto 230px;
		&:last-of-type svg{
			top: 35px;
			left: 35px;
		}
	}
	&__link{
		width: 100%;
		height: 100%;
		display: inline-block;
	}
	&-button_left__arrow,
	&-button_right__arrow{
		width: 125px;
		height: 225px;
		position: absolute;
		padding: 0;
		background: transparent;
		border: none;
		outline-style: none;
		z-index: 10;
		overflow: hidden;
		cursor: pointer;
	}
	&-button_left__arrow{
		left: 0;
	}
	&-button_right__arrow{
		right: 0;
	}
	&-box{
		&__img_left,
		&__img_right{
			width: 50%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			position: relative;
		}
		&__img_right{
			justify-content: flex-end;
		}
		&__nav_left,
		&__nav_right{
			width: 100%;
			height: 225px;
			position: absolute;
		}
		&__nav_left{
			background-color: $orange;
			&:before{
				content: '';
				display: inline-block;
				height: 225px;
				width: 140px;
				background: linear-gradient(to top right, rgba(232, 75, 55, 1), rgba(238, 125, 22, 1));
				left: 125px;
				position: absolute;
				z-index: 100;
			}
		}
		&__nav_right{
			background: linear-gradient(to right, rgba(172, 55, 142, 1), rgba(55, 43, 115, 1));
			&:after{
				content: '';
				display: inline-block;
				height: 225px;
				width: 140px;
				background: linear-gradient(to bottom left, rgba(213, 84, 111, 1), rgba(94, 0, 202, 1));
				right: 125px;
				position: absolute;
				z-index: 100;
			}
		}
		&__about_left,
		&__about_right{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			text-align: left;
			width: 50%;
		}
		&__about_left{
			align-items: flex-start;
			text-align: left;
			padding-left: 100px;
		}
		&__about_right{
			align-items: flex-end;
			text-align: right;
			padding-right: 130px;
		}
	}
	&__img-bg_left, 
	&__img_left,
	&__img-bg_right, 
	&__img_right{
		& img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			background-color: #a853ec;
		}
	}
	&__img_left,
	&__img_right{
		width: 440px;
		height: 625px;
		position: absolute;
		bottom: -175px;
	}
	&__img_left{
		right: 40px;
	}
	&__img_right{
		left: 40px;
	}
	&__img-bg_left,
	&__img-bg_right{
		width: 600px;
		height: 670px;
		position: relative;
	}
	&__img-bg_left{
		margin-left: 125px;
	}
	&__img-bg_right{
		margin-right: 125px;
		
	}
	&__num_left,
	&__num_right{
		@include title();
		font-size: 44px;
		margin: 0;
		position: absolute;
		bottom: -80px;
		& span{
			@include title();
			font-size: 44px;
			color: #22292D;
			margin: 0;
		}
	}
	&__num_left{
		text-align: left;
		left: 135px;
	}
	&__num_right{
		text-align: right;
		right: 135px;
	}
	&__title{
		margin-bottom: 30px;
		width: 80%;
		p{
			@include title();
			font-size: 44px;
			margin: 0;
		}
	}	
	&__text{
		margin: 10px 0;
		width: 90%;
		& p{
			font-family: 'Lato', Arial, serif;
			font-size: 22px;
			font-weight: 400;
			line-height: 34px;
			color: #FFF;
		}
	}
	&__btn{
		background: linear-gradient(to right, rgba(232, 75, 55, 1), rgba(238, 125, 22, 1));
		margin: 30px 0 20px;
	}
	
}
// PRODUCT - end



// PORTFOLIO - start
.portfolio{
	margin: 350px 0 50px;
	background: {
		image: url(../img/portfolio-bg.png);
		position: top center;
		size: 100% auto;
		repeat: no-repeat;
	};
	&__title-small{
		@include title-small();
		font-size: 18px;
		color: #FFF;
	}
	&-wrapper{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding-top: 150px;
	}
	&-list{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 50px 0;
	}
	&__item{
		width: 520px;
		height: 675px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 20px 0 100px;
		position: relative;
		animation-name: background-before;
		animation-duration: 1.5s;
		animation-iteration-count: 1;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		animation-direction: normal;
		&:hover{
			animation-name: background;
			animation-duration: .5s;
			// animation-delay: .5s;
			// animation-duration: .6s;
			// animation-iteration-count: 1;
			// animation-timing-function:  -out;
			// animation-fill-mode: forwards;
			// animation-direction: normal;
		}
		&:hover .portfolio__btn{
			// opacity: 0;
			// width: 0;
			height: 0px;
			transition-delay: .7s
			// right: 15px;
			// position: relative;
			// transform: rotate(-45deg);
		}
		// &:hover .portfolio__nav{
		// 	width: 125px;
		// 	border-width: 125px 125px 0 0;
		// 	opacity: 1;
		// 	right: 15px;
		// }
	}
	&-box{
		// width: 485px;
		// height: 635px;
		
		width: 100%;
		height: auto;
		background-color: #FFF;
		padding: 50px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: space-between;
		transition: transform 1.5s ease;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		position: absolute;
		transition-delay: .5s;
	}
	&-box-back{
		// width: 485px;
		// height: 635px;
		
		width: 100%;
		height: auto;
		// background: linear-gradient(to left, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));
		background-color: transparent;
		padding: 50px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: space-between;
		transition: transform 1.5s ease;
		transform: rotateY(180deg);
		backface-visibility: hidden;
		transform-style: preserve-3d;
		position: absolute;
		transition-delay: .5s;
	}
	&__img{
		width: 380px;
		height: 380px;
		width: 100%;
		overflow: hidden;
		& img{
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}
	&-about{
		margin: 20px auto;
	}
	&__title,
	&__title-back{
		font-family: 'Proxima Nova Semibold', Arial, serif;
		font-size: 30px;
		line-height: 32px;
		margin: 10px 0;
		max-height: 32px*2;
		overflow: hidden;
	}
	&__title{
		color: #000;
	}
	&__title-back{
		color: #fff;
	}
	&__text,
	&__text-back{
		font-family: 'Proxima Nova Regular', Arial, serif;
		font-size: 16px;
		line-height: 24px;
		overflow: hidden;
	}
	&__text{
		color: #000;
		max-height: 24px*2;
	}
	&__text-back{
		color: #fff;
		max-height: 24px*15;
	}
	&__nav{
		content: '';
		display: inline-block;
		position: absolute;
		width: 125px;
		height: 15px;
		border-width: 15px 15px 0 0;
		border-style: solid;
		border-color: transparent $orange transparent transparent;
		opacity: 0;
		transition: opacity 1s ease, right .6s ease, height .6s ease, border-width .6s ease;
		bottom: 20px;
		right: 200px;
		background: transparent;
		outline-style: none;
	}
	&__btn{
		width: 200px;
		line-height: 55px;
		background: linear-gradient(to right, rgba(232, 75, 55, 1), rgba(238, 125, 22, 1));
		position: absolute;
		bottom: -10px;
		transition: opacity .4s ease, width .2s ease, height .2s ease;
		z-index: 10;
		transition-delay: 1.5s;
	}
	&__btn-back{
		width: 200px;
		line-height: 55px;
		background: linear-gradient(to right, rgba(232, 75, 55, 1), rgba(238, 125, 22, 1));
		margin: 20px auto;
		& a{
			color: #FFF;
		}
	}
}
@keyframes background {
	0% {background: linear-gradient(to left, rgba(211, 81, 112, 0), rgba(95, 1, 201, 0));}
	5% {background: linear-gradient(to left, rgba(211, 81, 112, 0.05), rgba(95, 1, 201, 0.05));}
	10% {background: linear-gradient(to left, rgba(211, 81, 112, 0.1), rgba(95, 1, 201, 0.1));}
	15% {background: linear-gradient(to left, rgba(211, 81, 112, 0.15), rgba(95, 1, 201, 0.15));}
	20% {background: linear-gradient(to left, rgba(211, 81, 112, 0.2), rgba(95, 1, 201, 0.2));}
	25% {background: linear-gradient(to left, rgba(211, 81, 112, 0.25), rgba(95, 1, 201, 0.25));}
	30% {background: linear-gradient(to left, rgba(211, 81, 112, 0.3), rgba(95, 1, 201, 0.3));}
	35% {background: linear-gradient(to left, rgba(211, 81, 112, 0.35), rgba(95, 1, 201, 0.35));}
	40% {background: linear-gradient(to left, rgba(211, 81, 112, 0.4), rgba(95, 1, 201, 0.4));}
	45% {background: linear-gradient(to left, rgba(211, 81, 112, 0.45), rgba(95, 1, 201, 0.45));}
	50% {background: linear-gradient(to left, rgba(211, 81, 112, 0.5), rgba(95, 1, 201, 0.5));}
	55% {background: linear-gradient(to left, rgba(211, 81, 112, 0.55), rgba(95, 1, 201, 0.55));}
	60% {background: linear-gradient(to left, rgba(211, 81, 112, 0.6), rgba(95, 1, 201, 0.6));}
	65% {background: linear-gradient(to left, rgba(211, 81, 112, 0.65), rgba(95, 1, 201, 0.65));}
	70% {background: linear-gradient(to left, rgba(211, 81, 112, 0.7), rgba(95, 1, 201, 0.7));}
	75% {background: linear-gradient(to left, rgba(211, 81, 112, 0.75), rgba(95, 1, 201, 0.75));}
	80% {background: linear-gradient(to left, rgba(211, 81, 112, 0.8), rgba(95, 1, 201, 0.8));}
	85% {background: linear-gradient(to left, rgba(211, 81, 112, 0.85), rgba(95, 1, 201, 0.85));}
	90% {background: linear-gradient(to left, rgba(211, 81, 112, 0.9), rgba(95, 1, 201, 0.9));}
	95% {background: linear-gradient(to left, rgba(211, 81, 112, 0.95), rgba(95, 1, 201, 0.95));}
	100% {background: linear-gradient(to left, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));}
}
@keyframes background-before {
	0% {background: linear-gradient(to left, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));}
	5% {background: linear-gradient(to left, rgba(211, 81, 112, 0.95), rgba(95, 1, 201, 0.95));}
	10% {background: linear-gradient(to left, rgba(211, 81, 112, 0.9), rgba(95, 1, 201, 0.9));}
	15% {background: linear-gradient(to left, rgba(211, 81, 112, 0.85), rgba(95, 1, 201, 0.85));}
	20% {background: linear-gradient(to left, rgba(211, 81, 112, 0.8), rgba(95, 1, 201, 0.8));}
	25% {background: linear-gradient(to left, rgba(211, 81, 112, 0.75), rgba(95, 1, 201, 0.75));}
	30% {background: linear-gradient(to left, rgba(211, 81, 112, 0.7), rgba(95, 1, 201, 0.7));}
	35% {background: linear-gradient(to left, rgba(211, 81, 112, 0.65), rgba(95, 1, 201, 0.65));}
	40% {background: linear-gradient(to left, rgba(211, 81, 112, 0.6), rgba(95, 1, 201, 0.6));}
	45% {background: linear-gradient(to left, rgba(211, 81, 112, 0.55), rgba(95, 1, 201, 0.55));}
	50% {background: linear-gradient(to left, rgba(211, 81, 112, 0.5), rgba(95, 1, 201, 0.5));}
	55% {background: linear-gradient(to left, rgba(211, 81, 112, 0.45), rgba(95, 1, 201, 0.45));}
	60% {background: linear-gradient(to left, rgba(211, 81, 112, 0.4), rgba(95, 1, 201, 0.4));}
	65% {background: linear-gradient(to left, rgba(211, 81, 112, 0.35), rgba(95, 1, 201, 0.35));}
	70% {background: linear-gradient(to left, rgba(211, 81, 112, 0.3), rgba(95, 1, 201, 0.3));}
	75% {background: linear-gradient(to left, rgba(211, 81, 112, 0.25), rgba(95, 1, 201, 0.25));}
	80% {background: linear-gradient(to left, rgba(211, 81, 112, 0.2), rgba(95, 1, 201, 0.2));}
	85% {background: linear-gradient(to left, rgba(211, 81, 112, 0.15), rgba(95, 1, 201, 0.15));}
	90% {background: linear-gradient(to left, rgba(211, 81, 112, 0.1), rgba(95, 1, 201, 0.1));}
	95% {background: linear-gradient(to left, rgba(211, 81, 112, 0.05), rgba(95, 1, 201, 0.05));}
	100% {background: linear-gradient(to left, rgba(211, 81, 112, 0), rgba(95, 1, 201, 0));}
}

.portfolio__item:hover{
	& .portfolio-box{
		transform: rotateY(-180deg) translateZ(1px);
	}
	& .portfolio-box-back{
		transform: rotateY(0deg);
	}
}

// .portfolio-box.rotate{
// 	transform: rotateY(-180deg) translateZ(1px);
// }
// .portfolio-box-back.rotate-back{
// 	transform: rotateY(0deg);
// }

// PORTFOLIO - end



// EXPERT - start
.expert{
	margin: 150px 0;
	padding-bottom: 50px;
	position: relative;
	&:before{
		content: '';
		width: 100%;
		height: 200%;
		// background: linear-gradient(to top, rgba(17, 22, 25, 0.6), /* transparent, */ rgba(17, 22, 25, 0.6)), 
		// 			url(../img/blog-bg4.jpg);
		background: url(../img/blog-bg4.jpg);			
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
		position: absolute;
		top: -40%;
		pointer-events: none;
		opacity: 0.2;
	}
	
	&-wrap{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		flex-direction: column;
		margin: 0 auto;
	}
	&__title-small{
		@include title-small();
		font-size: 14px;
		color: $accent;
		margin: 25px 0 10px;
	}
	&__title{
		@include title();
		margin: 10px 0 15px;
	}
	&-nav{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 15px 0;
		&__item{
			padding: 0 5px;
			&:before{
				content: '/';
				display: inline-block;
				width: 3px;
				height: 5px;
				color: #FFF;
				margin: 0 10px;
			}
			& a{
				font-family: 'Playfair Display', serif;
				font-size: 14px;
				color: #FFF;
				font-weight: 700;
				letter-spacing: 0.6em;
				text-transform: uppercase;
			}
		}
	}
	&-btn{
		// width: 260px;
		height: 55px;
		white-space: nowrap;
		line-height: 55px;
		background: linear-gradient(to left, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));
		margin: 50px 0 100px;
	}
	&-slider{
		padding: 0 20px;
		&-box{
			width: 510px;
			height: 380px;
			padding: 50px;
			outline-style: none;
			text-align: left;
			animation-name: slider-background;
			animation-duration: .3s;
			animation-iteration-count: 1;
			animation-timing-function:  -out;
			animation-fill-mode: forwards;
			animation-direction: normal;
			&:hover{
				animation-name: slider-background-before;
			}
			// &:hover{
			// 	background: linear-gradient(to bottom left, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));
			// }
		}
		&__title{
			font-family: 'Lato', Arial, sans-serif;
			font-size: 30px;
			font-weight: 400;
			color: #FFF;
			margin: 25px 0 15px;
		}
		&__text{
			font-family: 'Lato', Arial, sans-serif;
			font-size: 18px;
			font-weight: 300;
			color: #FFF;
			line-height: 30px;
			max-height: 30px*4;
			overflow: hidden;
			margin: 25px 0 15px;
		}
	}
}
@keyframes slider-background-before {
	0% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0), rgba(95, 1, 201, 0));}
	10% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.1), rgba(95, 1, 201, 0.1));}
	20% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.2), rgba(95, 1, 201, 0.2));}
	30% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.3), rgba(95, 1, 201, 0.3));}
	40% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.4), rgba(95, 1, 201, 0.4));}
	50% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.5), rgba(95, 1, 201, 0.5));}
	60% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.6), rgba(95, 1, 201, 0.6));}
	70% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.7), rgba(95, 1, 201, 0.7));}
	80% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.8), rgba(95, 1, 201, 0.8));}
	90% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.9), rgba(95, 1, 201, 0.9));}
	100% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));}
}
@keyframes slider-background {
	0% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));}
	10% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.9), rgba(95, 1, 201, 0.9));}
	20% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.8), rgba(95, 1, 201, 0.8));}
	30% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.7), rgba(95, 1, 201, 0.7));}
	40% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.6), rgba(95, 1, 201, 0.6));}
	50% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.5), rgba(95, 1, 201, 0.5));}
	60% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.4), rgba(95, 1, 201, 0.4));}
	70% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.3), rgba(95, 1, 201, 0.3));}
	80% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.2), rgba(95, 1, 201, 0.2));}
	90% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0.1), rgba(95, 1, 201, 0.1));}
	100% {background: linear-gradient(to bottom left, rgba(211, 81, 112, 0), rgba(95, 1, 201, 0));}
}
// EXPERT - end



// CONTACT - start
.contact{
	margin: 400px 0 50px;
	text-align: center;
	z-index: 50;
	&__text{
		@include title();
		line-height: 95px;
		margin: 0;
		& a {
			display: block;
			color: #FFF;
			&:after{
				content: '';
				display: block;
				width: 490px;
				height: 2px;
				background-color: $accent;
				margin: 0 auto;
			}
			& span{
				color: $accent;
			}
		}
		&-phone {
			display: none;
			a{
				display: block;
			}
		}
			
	}
}
// CONTACT - end



// FOOTER - start
footer{
	text-align: center;
}
.footer{
	&-logo{
		margin-bottom: 20px;
	}
	&-nav{
		display: flex;
		flex-wrap: nowrap;
		margin: 40px auto 20px;
		&:before,
		&:after{
			content: '';
			display: inline-block;
			width: 100%;
			height: 2px;
			margin: 0 20px;
			position: relative;
			top: 30px;
		}
		&:before{
			background: linear-gradient(to right, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));
		}
		&:after{
			background: linear-gradient(to left, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));
		}
		&-menu{
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 20px 40px;
			text-align: center;
			width: 680px;
		}
		&__item{
			white-space: nowrap;
			margin: 0 25px;
			&:before{
				content: '/';
				display: inline-block;
				width: 3px;
				height: 5px;
				color: $light;
				margin: 0 10px;
				position: relative;
				left: -25px;
			}
			&:first-child:before{
				display: none;
			}
			& a{
				font-family: 'Lato', Arial, serif;
				font-size: 14px;
				font-weight: 700;
				letter-spacing: 0.2em;
				color: $light;
				text-transform: uppercase;
				display: inline-block;
				transition: background .5s ease;
				&:hover{
					background: linear-gradient(to left, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
		}
	}
	&-info{
		padding-bottom: 100px;
		&-soc{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&-soc{
		margin: 0 auto;
		&-list{
			// width: 230px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		&__item{
			height: 60px;
			width: 60px;
			margin: 0 15px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
// FOOTER - end

// font-family: 'Playfair Display', Arial, serif;	400,700
// font-family: 'Lato', Arial, sans-serif;	300,400,700



.icon{
	width: 70px;
	height: 70px;
	&-expert{
		fill: #fff;
		fill-rule: evenodd;
	}
	&-phone{
		fill: $accent;
		fill-rule: evenodd;
	}
	
	&-soc{
		
	}
	&-social{
		width: 25px;
		height: 20px;
		fill: $light;
		fill-rule: evenodd;
		transition: fill 1.2s ease-in-out;
	}
	// &-slick-prev,
	// &-slick-next{
	// 	// top: 50%;
	// 	// left: 50%;
	// 	// transform: translate(-50%,-50%);

	// }
	&-slick-prev{
		width: 36px;
		height: 15px;
		position: relative;
		opacity: .3;
		// top: -5px;
		// position: absolute;
	}
	&-slick-next{
		width: 36px;
		height: 15px;
		position: relative;
		top: 5px;
		opacity: .3;
		// position: absolute;
	}
	// &-slick-aerrow{
	// 	stroke: $light;
	// 	stroke-width: 4;
	// }
	&-btn-play{
		width: 30px;
		height: 40px;
		margin-left: 10px;
	}
	&-play{
		stroke: #fff;
		stroke-width: 2;
	}
	&-nav_left{
		width: 15px;
		height: 37px;
		position: absolute;
		left: 35px;
		bottom: 20px;
	}
	&-nav_right{
		width: 15px;
		height: 37px;
		position: absolute;
		right: 42px;
		bottom: 20px;
	}
	&-aerrow{
		stroke: #fff;
		stroke-width: 5;
	}
	&-more{
		width: 40px;
		height: 15px;
		bottom: 20px;
		right: -100px;
		position: absolute;
	}
	&-top{
		width: 8px;
		height: 30px;
		position: relative;
		left: 4px;
	}
}
.circle{
	fill: transparent;
	stroke: $accent;
	stroke-width: 2;
	stroke-dasharray: 156.0674285888672px;
	stroke-dashoffset: -156.0674285888672px;
	transition: stroke-dashoffset 1.2s ease-in-out;
}
.slick-circle{
	fill: transparent;
	stroke: $accent;
	stroke-width: 2;
	stroke-dasharray: 326.19781494140625px;
	stroke-dashoffset: -326.19781494140625px;
	transition: stroke-dashoffset 1.2s ease-in-out;
}
.icon-circle{
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
}
.icon-circle-small{
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	// transform: rotate(-90deg);
}
.circle.fill{
	stroke-dashoffset: 0px;
	transition-timing-function: ease-in-out;
}
.slick-circle.fill{
	stroke-dashoffset: 0px;
	transition-timing-function: ease-in-out;
}

.head-soc__item a{
	position: relative;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle-small{
	width: 60px;
	height: 60px;
	transition: transform 1.2s ease-in-out;
	transform-origin: 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	& circle:last-child{
		fill: $accent;
		opacity: 0.8;
	}
}
.circle-small:hover{
	transform: rotate(-360deg);
	opacity: 1;
}

.circle-small:not(:hover) {
  transition: transform 1.2s ease-in-out, opacity 3.2s ease-in-out;
}
.circle-big{
	width: 105px;
	height: 105px;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: 50% 50%;
	opacity: 0;
	transition: transform 1.2s ease-in-out;
	transform-origin: 50% 50%;
	& circle:first-child{
		fill: transparent;
		stroke: transparent;
	}
	& circle:last-child{
		fill: $accent;
		stroke: $accent;
		stroke-width: 25;
		stroke-opacity: 0.3;
	}
}
.icon-circle-big{
	width: 115px;
	height: 115px;
	position: absolute;
	top: 0;
	left: 0;
}
.circle-big:hover{
	transform: rotate(-360deg);
	opacity: 1;
}
.circle-big:not(:hover) {
  transition: transform 1.2s ease-in-out, opacity 1.9s ease-in-out;
}

.head-soc__item:hover .icon-social{
	fill: $accent;
}
.footer-soc__item:hover .icon-social{
	fill: $accent;
}







// Картинка вместо цвета текста css
// h1 {

// 	display: table;
// 	margin: 0 auto;
// 	font-family: "Roboto Slab";
// 	font-weight: 400;
// 	font-size: 25em;
// 	background: url(../img/product-card-2.jpg) center;
	
// 	-webkit-background-clip: text;
// 	-webkit-text-fill-color: transparent;
// 	line-height: 200px;
// } 


.product-card:nth-child(n+1){
	display: none;
	// margin-top: 230px;
	// height: 0;
	// opacity: 0;
}
.product-card:nth-child(1),
.product-card:nth-child(2){
	display: flex;
	// height: auto;
	// opacity: 1;
}
// .open{
// 	height: auto;
// 	opacity: 1;
// }


// .product-button_right__arrow{
// 	animation-name: box-shadow;
// 	animation-duration: 1.2s;
// 	animation-iteration-count: infinite;
// 	animation-timing-function: ease-in-out;
// }

// @keyframes box-shadow {
// 	from {
// 		box-shadow: inset	0 0 0 17px rgba(165, 54, 137, .55),
// 					inset	0 0 0 34px rgba(165, 54, 137, .1);
		
// 	}
// 	to {
// 		box-shadow: inset	0 0 0 10px rgba(165, 54, 137, .6),
// 					inset	0 0 0 20px rgba(165, 54, 137, .5),
// 					inset	0 0 0 30px rgba(165, 54, 137, .4),
// 					inset	0 0 0 40px rgba(165, 54, 137, .3),
// 					inset	0 0 0 50px rgba(165, 54, 137, .2),
// 					inset	0 0 0 60px rgba(165, 54, 137, .1);
// 	}
// }

.product-button-side:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, transparent, #fff);
	animation: animate-span1 1s linear infinite;
	animation-delay: .5s;
}
@keyframes animate-span1{
	0%{transform: translateX(-100%);}
	100%{transform: translateX(100%);}
}
.product-button-side:nth-child(2){
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to bottom, transparent, #fff);
	animation: animate-span2 1s linear infinite;
}
@keyframes animate-span2{
	0%{transform: translateY(-100%);}
	100%{transform: translateY(100%);}
}
.product-button-side:nth-child(3){
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, transparent, #fff);
	animation: animate-span3 1s linear infinite;
	animation-delay: .5s;
}
@keyframes animate-span3{
	0%{transform: translateX(100%);}
	100%{transform: translateX(-100%);}
}
.product-button-side:nth-child(4){
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to top, transparent, #fff);
	animation: animate-span4 1s linear infinite;
}
@keyframes animate-span4{
	0%{transform: translateY(100%);}
	100%{transform: translateY(-100%);}
}
.product-card_right .product-button-side:nth-child(4),
.product-card_left .product-button-side:nth-child(2){
	display: none;
}

.top{
	position: fixed;
	bottom: 25px;
	right: -100px;
	background: linear-gradient(-45deg, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));
	z-index: 120;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all .7s ease;
	opacity: .3;
	&:hover{
		background: linear-gradient(145deg, rgba(211, 81, 112, 1), rgba(95, 1, 201, 1));
		opacity: 1;
		box-shadow: 0 0 45px 10px rgba(165, 54, 137, .55);
	}
	&.active{
		right: 25px;
	}
}


.preloader{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	background-color: $dark;
	& .pulse{
		position: relative;
		left: 50%;
		top: 45vh;
		&:before, &:after{
			content: '';
			border: 5px solid $accent;
			width: 100px;
			height: 100px;
			border-radius: 500px;
			position: absolute;
		}
		&:before{
			animation: pulse-outer .8s ease-in infinite;
		}
		&:after{
			animation: pulse-inner .8s linear infinite;
		}
	}
}


@keyframes pulse-outer{
	0%{@include opacity(100)}
	50%{@include opacity(50)}
	100%{@include opacity(0)}
}
@keyframes pulse-inner{
	0%{	@include opacity(0);
		transform: scale(0)}
	100%{@include opacity(100);
		transform: scale(1)}
}

/* Extra Large Devices, Wide Screens */
@media screen and (min-width : 1401px) and (max-width : 1630px){
	// body{
		
	// }
	.head{
		&-soc__item{
			margin-bottom: 15px;
		}
	}
	.hero{
		.ba-hero-wrap{
				max-width: 800px;
				margin: 0 auto;
			}
		& .slick{
			&-slider{
				// width: 90%;
				height: 65vh !important;
				
			}
			&-track{
				// width: 800px !important;
				height: 60vh !important;
			}
			
			&-slide{
				// width: 100% !important;
				height: 60vh !important;
			}
			&-list{
				height: 50vh !important;
				& img{
					width: 100%;
					height: auto;
					object-fit: cover;
					object-position: center;
				}
			}
			&-btn{
				&-prev{
					left: 0;
					// width: 80px;
					// height: 80px;
				}
				&-next{
					right: 0;
				}
				// &-circle{
				// 	width: 80px;
				// 	height: 80px;
				// }
			}
			&-dots{
				margin-top: 60px;
			}
		}
		&__title{
			font-size: 1.5rem;
			letter-spacing: 1em;
		}
		&-btn-wrap{
			width: 85%;
		}
	}

	.about{
		&__title{
			font-size: 3.75rem;
		}
		&__btn{
			width: 115px;
			height: 115px;
			&:after{
				width: 115px;
				height: 115px;
			}
		}
	}
		
	.product{
		&__title{
			font-size: 2.125rem;
		}
		&__img-bg_left,
		&__img-bg_right{
			width: 80%;
			height: 590px;
		}
		&__img_left,
		&__img_right{
			width: 340px;
			height: 530px;
			right: 0;
			bottom: -120px;
		}
		&__img_right{
			left: 20px;
		}
		&-box__nav_left{
			// width: 700px;
			width: 105%;
			
		}
	}
	.portfolio{
		&__item{
			width: 420px;
			height: 575px;
		}
		&-box{
			width: 385px;
			height: 535px;
		}
	}
	.expert{
		&__title{
			font-size: 3.75rem;
		}
		
	}
	.contact{
		&__text{
			font-size: 3.5rem;
		}
	}
	.footer-soc__item{
		margin: 0 7px;
	}
}

			

/* Large Devices, Wide Screens */
@media screen and (min-width : 1201px) and (max-width : 1400px){
	.head{
		&-soc__item{
			margin-bottom: 15px;
		}
	}
	.hero{
		.ba-hero-wrap{
				max-width: 800px;
				margin: 0 auto;
			}
		& .slick{
			&-slider{
				// width: 90%;
				height: 65vh !important;
				
			}
			&-track{
				// width: 800px !important;
				height: 60vh !important;
			}
			&-slide{
				// width: 100% !important;
				height: 60vh !important;
			}
			&-list{
				height: 50vh !important;
				& img{
					width: 100%;
					height: auto;
					object-fit: cover;
					object-position: center;
				}
			}
			&-btn{
				&-prev{
					left: 0;
					// width: 80px;
					// height: 80px;
				}
				&-next{
					right: 0;
				}
				// &-circle{
				// 	width: 80px;
				// 	height: 80px;
				// }
			}
			&-dots{
				margin-top: 60px;
			}
		}
		
		&__title{
			font-size: 1.5rem;
			letter-spacing: 1em;
		}
		&-btn-wrap{
			width: 93%;
		}
	}
	
	.about{
		&__title{
			font-size: 3rem;
		}
		&__btn{
			width: 115px;
			height: 115px;
			&:after{
				width: 115px;
				height: 115px;
			}
		}
	}
	.product{
		&__title p{
			font-size: 2.3rem;
		}
		&__text p{
			font-size: 1.2rem;
		}
		&__img-bg_left,
		&__img-bg_right{
			width: 500px;
			width: 80%;
			height: 530px;
		}
		&__img-bg_left{
			margin-left: 80px;
		}
		&__img-bg_right{
			margin-right: 80px;
		}
		&__img_left,
		&__img_right{
			width: 50%;
			height: 470px;
			right: 0;
			bottom: -100px;
		}
		&__img_right{
			left: 0px;
		}
		&-box__nav_left{
			width: 105%;
			height: 180px;
			&:before{
				left: 80px;
				width: 100px;
				height: 180px;
			}
		}
		&-box__nav_right{
			width: 105%;
			height: 180px;
			&:after{
				right: 80px;
				width: 100px;
				height: 180px;
			}
		}
		&-button{
			width: 80px;
			height: 180px;
		}
		&__num_left{
			left: 0;
			font-size: 2.2rem;
		}
		&__num_right{
			right: 0;
			font-size: 2.2rem;
			right: 80px;
		}
		
	}
	.portfolio{
		&-list{
			justify-content: space-around;
		}
		&__item{
			width: 420px;
			height: 575px;
		}
		&-box{
			width: 385px;
			height: 535px;
		}
		&__img{
			height: 380px;
		}
	}
	.expert{
		&__title{
			font-size: 3.3rem;
		}
		&-btn{
			margin: 30px 0 50px;
		}
		& .slick-list{
			margin-bottom: 10px;
		}
		&-slider-box{
			padding: 20px;
		}
		&-nav{
			margin: 5px 0;
			& a{
				font-size: 0.8rem;
				letter-spacing: .3rem;
			}
		}
	}
	.contact{
		margin-top: 200px;
		&__text{
			font-size: 3rem;
			line-height: 1.3em;
			& a{
				&:after{
					width: 360px;
				}
			}
				
		}
	}
	.footer-soc__item{
		margin: 0 7px;
	}

}

/* Medium Devices, Desktops */
@media screen and (min-width : 991px) and (max-width : 1200px){
	.btn{
		height: 45px;
		line-height: 45px;
		font-size: 0.8rem;
		padding: 0 35px;
	}
	.head{
		height: 100px;
		position: absolute;
		padding: 40px 20px 20px;
		&-phone{
			display: none;
		}
		&-soc{
			display: none;
		}
		&-nav{
			right: 0;
		}
	}
	.nav-menu__item a{
		font-size: 0.8rem;
		margin: 0 30px;
	}
	.hero{
		.ba-hero-wrap{
				max-width: 800px;
				margin: 0 auto;
			}
		& .slick{
			&-slider{
				// width: 90%;
				height: 65vh !important;
				
			}
			&-track{
				// width: 800px !important;
				height: 60vh !important;
			}
			&-slide{
				// width: 100% !important;
				height: 60vh !important;
			}
			&-list{
				height: 50vh !important;
				& img{
					width: 100%;
					height: auto;
					object-fit: cover;
					object-position: center;
				}
			}
			&-dots{
				margin-top: 60px;
			}
		}
		
		&__title{
			font-size: 1.5rem;
			letter-spacing: 1em;
		}
		&-btn-wrap{
			display: none;
		}
	}
	
	.about{
		&__title{
			font-size: 2rem;
			margin: 30px 50px;
		}
		&__img{
			height: 80px;
			width: 300px;
		}
		&__btn{
			width: 115px;
			height: 115px;
			&:after{
				width: 115px;
				height: 115px;
			}
		}
	}
	.product{
		margin-bottom: 80px;
		&-card{
			margin: 70px 0;
		}
		&-box__about_left{
			padding-left: 60px;
		}
		&-box__about_right{
			padding-right: 60px;
		}
		&__title p{
			font-size: 1.5rem;
		}
		&__text p{
			font-size: 1rem;
			line-height: 1.5rem;
		}
		&__img-bg_left,
		&__img-bg_right{
			width: 500px;
			width: 80%;
			height: 480px;
		}
		&__img-bg_left{
			margin-left: 80px;
		}
		&__img-bg_right{
			margin-right: 80px;
		}
		&__img_left,
		&__img_right{
			width: 50%;
			height: 400px;
			right: 0;
			bottom: -40px;
		}
		&__img_right{
			left: 0px;
		}
		&-box__nav_left{
			width: 105%;
			height: 180px;
			&:before{
				left: 80px;
				width: 60px;
				height: 180px;
			}
		}
		&-box__nav_right{
			width: 105%;
			height: 180px;
			&:after{
				right: 80px;
				width: 60px;
				height: 180px;
			}
		}
		&-button{
			width: 80px;
			height: 180px;
		}
		&__num_left{
			left: 0;
			font-size: 1.8rem;
			bottom: -40px;
			& span{
				font-size: 2.2rem;
			}
		}
		&__num_right{
			right: 0;
			font-size: 1.8rem;
			right: 80px;
			bottom: -40px;
			& span{
				font-size: 2.2rem;
			}
		}
		
	}
	.portfolio{
		margin-top: 20px;
		&-list{
			justify-content: space-around;
		}
		&__item{
			width: 420px;
			height: 575px;
		}
		&-box{
			width: 385px;
			height: 535px;
		}
		&__img{
			height: 380px;
		}
	}
	.expert{
		margin: 80px 0;
		&__title{
			font-size: 2.5rem;
			&-small{
				margin-top: 10px;
			}
		}
		&-btn{
			margin: 30px 0 50px;
		}
		& .slick-list{
			margin-bottom: 10px;
		}
		&-slider-box{
			padding: 20px;
			height: 250px;
		}
		&-slider__title{
			// display: inline-block;
			margin: 15px 0;
			font-size: 1.8rem;
		}
		&-slider__text{
			font-size: 1rem;
			line-height: 1.7rem;
		}
		&-nav{
			margin: 5px 0;
			&__item{
				padding: 0 20px;
				&:before{
					// display: none;
				}
			}
				
			& a{
				font-size: 0.7rem;
				letter-spacing: .1rem;
				font-weight: 400;
			}
		}
	}
	.contact{
		margin-top: 80px;
		&__text{
			font-size: 2rem;
			line-height: 1.2em;
			& a{
				&:after{
					width: 230px;
				}
			}
			&-phone{
				margin-top: 20px;
				display: block;
			}	
		}
			
	}
	.footer{
		&-nav-menu{
			margin: 20px;
		}
		&-nav__item{
			margin: 0 30px;
			&:before{
				display: none;
			}
			& a{
				font-size: 0.8rem;
			}
		}
		&-soc__item{
			margin: 0 7px;
		}
	}
		
	.icon{
		width: 50px;
		height: 50px;
		// display: inline-block;
	}

}

/* Small Devices, Tablets */
@media screen and (min-width : 768px) and (max-width : 990px){
	.logo{
		display: none;
	}
	.btn{
		height: 45px;
		line-height: 45px;
		font-size: 0.8rem;
		padding: 0 35px;
	}
	.head{
		height: 100px;
		position: absolute;
		padding: 40px 20px 20px;
		&-phone{
			display: none;
		}
		&-soc{
			display: none;
		}
		&-nav{
			right: 0;
		}
	}
	.nav-menu__item a{
		font-size: 0.8rem;
		margin: 0 30px;
	}
	.hero{
		
		&__img{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-slider{
			display: none;
		}
		
		
		&-btn-wrap{
			display: none;
		}
	}
	
	.about{
		&__title{
			font-size: 2rem;
			margin: 30px 50px;
		}
		&__img{
			height: 80px;
			width: 300px;
		}
		&__btn{
			width: 115px;
			height: 115px;
			margin: 50px 0;
			&:after{
				width: 115px;
				height: 115px;
			}
		}
	}
	.product{
		margin-bottom: 80px;
		&-card{
			margin: 20px 0;
			padding: 40px 0;
			&:last-of-type svg{
				top: 25px;
				left: 15px;
			}
		}
		&-box__about_left{
			padding-left: 60px;
		}
		&-box__about_right{
			padding-right: 60px;
		}
		&__title{
			margin-bottom: 5px;
			& p{
				font-size: 1.5rem;
			}
		}
			
		&__text p{
			font-size: 1rem;
			line-height: 1.2rem;
		}
		&__img-bg_left,
		&__img-bg_right{
			width: 80%;
			height: 400px;
		}
		&__img-bg_left{
			margin-left: 50px;
		}
		&__img-bg_right{
			margin-right: 50px;
		}
		&__img_left,
		&__img_right{
			width: 50%;
			height: 300px;
			right: 0;
			bottom: -40px;
		}
		&__img_right{
			left: 0px;
		}
		&-box__nav_left{
			width: 105%;
			height: 180px;
			&:before{
				left: 50px;
				width: 60px;
				height: 180px;
			}
		}
		&-box__nav_right{
			width: 105%;
			height: 180px;
			&:after{
				right: 50px;
				width: 60px;
				height: 180px;
			}
		}
		&-button{
			width: 50px;
			height: 180px;
		}
		&__num_left{
			left: 0;
			font-size: 1.8rem;
			bottom: -40px;
			& span{
				font-size: 2.2rem;
			}
		}
		&__num_right{
			right: 0;
			font-size: 1.8rem;
			right: 80px;
			bottom: -40px;
			& span{
				font-size: 2.2rem;
			}
		}
		
	}
	.portfolio{
		margin-top: 20px;
		&-list{
			justify-content: space-around;
		}
		&__item{
			width: 420px;
			height: 500px;
		}
		&-box{
			width: 385px;
			height: 465px;
			&-back{
				padding: 30px;
			}
		}
		&__text-back{
			font-size: 0.9rem;
			line-height: 1.1rem;
		}
		&__img{
			height: 380px;
		}
	}
	.expert{
		margin: 80px 0 30px;
		
		&__title{
			font-size: 2.5rem;
			&-small{
				margin-top: 10px;
			}
		}
		&-btn{
			margin: 30px 0 50px;
		}
		& .slick-list{
			margin-bottom: 10px;
		}
		&-slider-box{
			padding: 20px;
			height: 350px;
			width: 350px;
			text-align: center;
		}
		&-slider__title{
			margin: 15px 0;
			font-size: 1.8rem;
		}
		&-slider__text{
			font-size: 1rem;
			line-height: 1.7rem;
			margin: 10px 0;
			max-height: 1.7rem*15;
		}
		&-nav{
			margin: 5px 0;
			&__item{
				padding: 0 20px;
			}
				
			& a{
				font-size: 0.7rem;
				letter-spacing: .1rem;
				font-weight: 400;
			}
		}
	}
	.contact{
		margin-top: 80px;
		&__text{
			font-size: 2rem;
			line-height: 1.2em;
			& a{
				&:after{
					width: 230px;
				}
			}
			&-phone{
				margin-top: 20px;
				display: block;
			}	
		}
			
	}
	.footer{
		&-nav-menu{
			margin: 20px 0;
		}
		&-nav__item{
			margin: 0 20px;
			&:before{
				display: none;
			}
			& a{
				font-size: 0.8rem;
			}
		}
		&-soc__item{
			margin: 0 7px;
		}
	}
		
	.icon{
		width: 50px;
		height: 50px;
		// display: inline-block;
		&-nav_left{
			left: 15px;
		}
		&-nav_right{
			right: 15px;
		}
	}
}



/* Small Devices, Tablets */
@media screen and (min-width : 481px) and (max-width : 768px){
	.container{
		padding: 0 15px;
	}
	.logo{
		display: none;
	}
	.btn{
		height: 35px;
		line-height: 35px;
		font-size: 0.7rem;
		padding: 0 25px;
	}
	.head{
		height: 100px;
		position: absolute;
		padding: 40px 20px 20px;
		&-phone{
			display: none;
		}
		&-soc{
			display: none;
		}
		&-nav{
			right: 0;
		}
	}
	.nav-menu__item a{
		font-size: 0.7rem;
		margin: 0 15px;
	}
	.hero{
		height: 90vh;
		&__img{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-slider{
			display: none;
		}
		&-wrap{
			height: 90vh;
		}
		
		&-btn-wrap{
			display: none;
		}
	}
	
	.about{
		&__title{
			font-size: 1.5rem;
			margin: 30px 20px;
		}
		&__img{
			height: 80px;
			width: 300px;
		}
		&__btn{
			width: 115px;
			height: 115px;
			margin: 50px 0;
			&:after{
				width: 115px;
				height: 115px;
			}
		}
	}
	.product{
		margin-bottom: 80px;
		&-card{
			margin: 50px 0 90px;
			padding: 40px 0;
			flex-direction: column;
			text-align: right;
			align-items: flex-end;
			&:last-of-type svg{
				top: 25px;
				left: 15px;
			}
			&_right{
				align-items: flex-start;
			}
		}
		&-box__img_left{
			width: 100%;
			position: absolute;
			opacity: .3;
		}
		&-box__img_right{
			width: 100%;
			position: absolute;
			opacity: .3;
		}
		&-box__about_left{
			width: 80%;
			padding-left: 0;
			z-index: 5;
			align-items: flex-end;
			text-align: right;
			& .product__btn{
				transform: translateX(-50%);
			}
		}
		&-box__about_right{
			width: 80%;
			padding-right: 0;
			z-index: 5;
			align-items: flex-start;
			text-align: left;
			& .product__btn{
				transform: translateX(50%);
			}
		}
		&__title{
			margin-bottom: 5px;
			& p{
				font-size: 1.5rem;
			}
		}
			
		&__text p{
			font-size: 1rem;
			line-height: 1.2rem;
		}
		&__img-bg_left,
		&__img-bg_right{
			width: 80%;
			height: 400px;
		}
		&__img-bg_left{
			margin-left: 50px;
		}
		&__img-bg_right{
			margin-right: 50px;
		}
		&__img_left,
		&__img_right{
			width: 50%;
			height: 300px;
			right: 0;
			bottom: -40px;
		}
		&__img_right{
			left: 0px;
		}
		&-box__nav_left{
			width: 100%;
			height: 180px;
			&:before{
				left: 50px;
				width: 60px;
				height: 180px;
			}
		}
		&-box__nav_right{
			width: 100%;
			height: 180px;
			&:after{
				right: 50px;
				width: 60px;
				height: 180px;
			}
		}
		&-button{
			width: 50px;
			height: 180px;
			
		}
		&__num_left{
			left: 0;
			font-size: 1.8rem;
			bottom: -40px;
			& span{
				font-size: 2.2rem;
			}
		}
		&__num_right{
			right: 0;
			font-size: 1.8rem;
			right: 80px;
			bottom: -40px;
			& span{
				font-size: 2.2rem;
			}
		}
		
	}
	.portfolio{
		margin-top: 20px;
		&-list{
			justify-content: space-around;
		}
		&__item{
			width: 380px;
			height: 480px;
		}
		&-box{
			width: 345px;
			height: 445px;
			&-back{
				height: 480px;
				padding: 15px;
			}
		}
		&__text-back{
			font-size: 0.9rem;
			line-height: 1.1rem;
		}
		&__img{
			height: 320px;
		}
	}
	.expert{
		margin: 50px 0 10px;
		padding-bottom: 10px;
		&__title{
			font-size: 1.5rem;
			&-small{
				font-size: 0.6rem;
				margin-top: 10px;
				// white-space: wrap;
			}
		}
		&-btn{
			margin: 20px 0 30px;
		}
		& .slick-list{
			margin-bottom: 10px;
		}
		&-slider-box{
			padding: 20px;
			height: 280px;
			text-align: center;
		}
		&-slider__title{
			margin: 15px 0;
			font-size: 1.8rem;
		}
		&-slider__text{
			font-size: 1rem;
			line-height: 1.7rem;
			margin: 10px 0;
			max-height: 1.7rem*15;
		}
		&-nav{
			margin: 5px 0;
			&__item{
				padding: 0 15px;
				&:before{
					display: none;
				}
			}
				
			& a{
				font-size: 0.6rem;
				letter-spacing: .1rem;
				font-weight: 400;
			}
		}
	}
	.contact{
		margin-top: 20px;
		&__text{
			font-size: 1.5rem;
			line-height: 1.1em;
			& a{
				&:after{
					width: 200px;
				}
			}
			&-phone{
				margin-top: 20px;
				display: block;
			}	
		}
			
	}
	.footer{
		&-nav-menu{
			margin: 20px 0;
		}
		&-nav__item{
			margin: 0 20px;
			&:before{
				display: none;
			}
			& a{
				font-size: 0.8rem;
			}
		}
		&-soc__item{
			margin: 0 7px;
		}
	}
	.top{
		width: 50px;
		height: 50px;
		& svg{
			height: 20px;
		}
	}
	.icon{
		width: 50px;
		height: 50px;
		// display: inline-block;
		&-nav_left{
			left: 15px;
		}
		&-nav_right{
			right: 15px;
		}
	}
}

/* Extra Small Devices, Phones */
@media screen and (max-width : 480px){
	
}



